#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/* Left side */
.background {
    background-color: rgb(230, 230, 230);
    grid-column: 1/2;
    grid-row: 1/2;
}

/* Right side */


.register_section, .join_title {
    display: flex;
}

.register_section {
    grid-column: 2/3;
    grid-row: 1/2;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
    background-color: rgb(77, 60, 155);
}

.join_title {
    justify-content: space-between;
    margin-bottom: 2rem;
}

.join_title h2 {
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.join_title h2::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ffffff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.login_btn {
    padding: 0.6rem 0.8rem;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-family: var(--font-alt);
    background-color: #d4d4d4;
    cursor: pointer;
    transition: 0.4s all;
    font-weight: 600;
}

.login_btn:hover {
    background-color: #adadad;
}

/* Padrão de estilo dos input text */
.input_style{
    padding: 0.3rem;
    border: 2px solid #f0ffff;
    border-radius: 10px;
    outline: none;
    padding: 0.5rem 0.8rem;
    width: 100%;
    background: transparent;
    font-size: 16px;
    z-index: 1111;
    color: white;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.fullname_input, .mail_container, .confirm_mail_container, .password_container, .password_confirm_container {
    position: relative;
    display: flex;
}

.input_style:focus,
.input_style:valid {
    color: #66ff00;
    border: 2px solid #66ff00;
}

.input_style:focus + .labelline,
.input_style:valid + .labelline{
    color: #66ff00;
    background-color: rgb(77, 60, 155);
    transform: translateY(-150%);
    z-index: 1111;
    font-size: 14px;
}

.fullname_input, .mail_input, .password_input, .register_container {
    display: flex;
    justify-content: space-between;
}

.mail_input > div, .password_input > div {
    width:49%;
}

.labelline {
    position: absolute;
    font-size: 16px;
    color: #a5a5a5;
    padding: 0 10px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.fullname_input > input {
    width: 100%;
}

.register_container {
    width: 100%;
    justify-content: center;
}

.register_btn {
    padding: 0.6rem 0.8rem;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-family: var(--font-alt);
    background-color: #d4d4d4;
    cursor: pointer;
    transition: 0.4s all;
    font-weight: 600;
    margin-top: 2rem;
    width: 50%;
}

.register_btn:hover {
    background-color: #adadad;
}



